<!-- Koordinaten: {latitdude: 48.998764762538606, longitude: 8.400728171945046}

<h2>Tagging</h2>

            <!-- ############### VS1Lab 1a Form 1 Start -->
            <form id="tag-form" action="/tagging" method="post">

                <!-- Elements for tagging form -->
                <fieldset class="tagging_fields">
                    <legend id="tagging_legend">Add a new GeoTag</legend>
                    <label for="latitude">Latitude:</label>
                    <input type="text" name="latitude" id="latitude" value="<%= coordinates.latitude %>" readonly/>
                    <label for="longitude">Longitude:</label>
                    <input type="text" name="longitude" id="longitude" value ="<%= coordinates.longitude %>" readonly/>
                    <label for="name">Name:</label>
                    <input type="text" name="name" id="name" placeholder="e.g. Central Berlin" pattern="[a-zA-Z]*" maxlength="10" required/>
                    <label for="hashtag">Hashtag:</label>
                    <input type="text" name="hashtag" id="hashtag" placeholder="e.g. #ber" pattern="^[#].[a-zA-Z]*" maxlength="11"/>
                    <input type="submit" value="Add Tag"/>
                </fieldset>
                
            </form>
            <!-- ############### VS1Lab 1a Form 1 End -->
